* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.container .listContainer {
  height: 700px;
  width: 95%;
  position: absolute;
  top: 100px;
}

.list-table label {
  text-transform: uppercase;
  background-color: #eee;
  padding: 10px 15px;
  text-align: center;
  margin-top: 10px;
  font-family: "Product Sans";
  border-radius: 8px;
}

.meta-image {
  height: 50px;
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.tablerow button a {
  text-decoration: none;
  color: #28a745;
}
.tablerow button a:hover {
  color: #fff;
}
