* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Montserrat, sans-serif;
}
.bgcontainer {
  position: relative;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.bgcontainer img {
  width: 100%;
}
.bgcontainer .searchbar {
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.bgcontainer .searchbar input {
  margin: 0 auto;
  width: 450px;
  height: 45px;
  padding: 0 20px;
  font-size: 17px;
  font-style: italic;
  border: 3px solid #d0cfce;
  border-radius: 30px 30px 30px 30px;
  outline: none;
  display: table;
}

.bgcontainer .searchbar button {
  height: 37px;
  width: 100px;
  border: 2px none rgb(64, 262, -39);
  border-radius: 17px 17px 17px 17px;
  margin-top: 20px;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: rgb(64, 262, -39);
}
.bgcontainer .searchbar button:hover {
  padding: 3px;
  background-color: #05a086;
  cursor: pointer;
  height: 39px;
  width: 105px;
}

.optcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 85%;
  left: 47%;
  transform: translate(-50%, -50%);
}
.selectors {
  height: 250px;
  width: 250px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(241, 240, 240);
  margin-left: 85px;
}
.selectors:hover {
  padding: 10px;
  box-shadow: 8px 8px 10px #888888;
}
.optcontainer a img {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 15px;
}

.optcontainer p {
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
.ab-container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ab-container .leftPart,
.ab-container .rightPart {
  height: 500px;
  width: 50%;
}
.ab-container .rightPart {
  background-color: #fff;
  padding: 20px 20px;
}
.ab-container .leftPart {
  background-color: yellow;
  padding: 20px 20px;
}
.ab-container .leftPart h3 {
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  margin-top: 40px;
}
.ab-container .leftPart p {
  font-style: italic;
  font-size: 20px;
  margin-top: 40px;
}
.ab-container .rightPart h2 {
  text-align: right;
  margin-top: 60px;
  text-transform: uppercase;
  font-weight: bold;
}
.ab-container .rightPart .videoContainer video {
  height: 300px;
  width: 450px;
  float: right;
  margin-right: 150px;
}
