{% extends 'medicalapp/base.html' %}
{% block content %}
<section id="home-section">
<div class="navContainer">

</div>
</nav>
</div>


<div class="bglogo">
  <!-- <p>l0<span>$h</span></p> -->
</div>
<div class="bgcontainer">
  <img src="/background.svg" alt="homepage">
  <div class="searchbar">
    <form action="{% url 'search-list' %}" method="get">
    <input name="q" type="text" placeholder="Search Here">
  </form>
    <button action="{% url 'search-list' %}" type="submit">Search</button>
  </div>
  <!-- <div class="Header">
    <div class="icon">
      <img src="/nav_pic.png" alt="">
    </div>
    <div class="menu" sticky>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="https://therealshihab.pythonanywhere.com/">Blog</a></li>
          <li><a href="#">Our Team</a></li>
          </ul>
    </div>
  </div> -->
</div>
<div class="optcontainer">
  <div class="selectors">
    <a class="icon-button" href="{% url 'doctor-list' %}"><img src="/doctor_face.svg" alt=""></a>
    <p>See Doctor's List</p>
  </div>
  <div class="selectors">
    <a class="icon-button" href="{% url 'hospital-list' %}"><img src="/hospital.svg" alt=""></a>
    <p>Look for a hospital</p>
  </div>
  <div class="selectors">
    <a class="icon-button" href="{% url 'disease-list' %}"><img src="/speciality.svg" alt=""></a>
    <p>Find Doctor's by speciality</p>
  </div>
  <div class="selectors">
    <a class="icon-button" href="#"><img src="/disease.svg" alt=""></a>
    <p>find Doctor's by diseases</p>
  </div>
</div>
</section>

<section id="about-section">
<div class="ab-container">
  <div class="leftPart">
    <h3>Find Doctors around Instantly </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatem ipsam modi, dicta velit
      liberibusdam necessitatibus ex <br></br>
      facere ad commodi, odio sed iure rem iusto repellat amet modi molestiae expedita facere, mollitia possimus
      impedit in voluptates modi obcaecati eius facilis tempore nisi, consectetur cupiditate? Molestias laborum
      perferendis voluptates eveniet atque corporis, quidem voluptas officiis.</p>
  </div>
  <div class="rightPart">
    <h2>Learn How to Search<br> the Best Way</h2>
    <div class="videoContainer">
      <video src="/video.mp4" preload="auto"></video>
    </div>
  </div>
</div>
</div>
</section>
{% endblock content %}