{% extends 'medicalapp/base.html' %}
{% block content %}
    <div >
        <h1>Search Results</h1>

        <ul>
          {% for doctor in object_list %}
            <li>
                {{ doctor.name }} - {{ doctor.fields }} -
                
            </span> - 
            {% for disease in doctor.treats.all %}
                    <em>{{disease}},</em>
                    {% endfor %}
            </span>
            </li>
          {% endfor %}
        </ul>
    </div>
{% endblock content %}
    